.menu {
  padding: 10px;
  ul {
    display: flex;
    justify-content: center;
  }
}
.menu__item {
  a {
    display: block;
    padding: 10px;
    background-color: #fff;
    text-decoration: none;
    &:hover {
      background-color: #eee;
    }
  }
}
